<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="~/Areas/Admin/Content/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>Alexander Pierce</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            @*<li class="active treeview">
                    <a href="Home">
                        <i class="fa fa-dashboard"></i> <span>POST</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                </li>*@
            <li class="treeview">
                <a href="@Url.Action("AllPost","Post")">
                    <i class="fa fa-thumb-tack" aria-hidden="true"></i>
                    <span>Posts</span>
                    <span class="pull-right-container">
                        <span class="label label-primary pull-right">4</span>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("AllPost","Post")"><i class="fa fa-thumb-tack" aria-hidden="true"></i> All Posts</a></li>
                    <li><a href="@Url.Action("AddNew","Post")"><i class="fa fa-plus" aria-hidden="true"></i> Add New</a></li>
                    <li><a href="@Url.Action("Categories","Post")"><i class="fa fa-list" aria-hidden="true"></i> Categories</a></li>
                    <li><a href="@Url.Action("Tags","Post")"><i class="fa fa-tags" aria-hidden="true"></i> Tags</a></li>
                </ul>
            </li>
            @*<li>
                    <a href="~/Areas/Admin/Content/pages/widgets.html">
                        <i class="fa fa-th"></i> <span>ADD NEW</span>
                        <span class="pull-right-container">
                            <small class="label pull-right bg-green">new</small>
                        </span>
                    </a>
                </li>*@
            <li class="treeview">
                <a href="@Url.Action("FileManager", "FileManager")">
                    <i class="fa fa-file" aria-hidden="true"></i>
                    <span>File Manager</span>
                </a>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-building-o" aria-hidden="true"></i>
                    <span>Pages</span>
                    <span class="pull-right-container">
                        <span class="label label-primary pull-right">2</span>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("AllPages", "Pages")"><i class="fa fa-building-o" aria-hidden="true"></i> All Pages</a></li>
                    <li><a href="@Url.Action("AddNew", "Pages")"><i class="fa fa-plus" aria-hidden="true"></i> Add New</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="@Url.Action("Comments", "Comments")">
                    <i class="fa fa-comments" aria-hidden="true"></i>
                    <span>Comments</span>
                </a>
            </li>
            <li class="treeview">
                <a href="@Url.Action("Appearance", "Appearance")">
                    <i class="fa fa-edit"></i> <span>Appearance</span>
                    <span class="pull-right-container">
                        <span class="label label-primary pull-right">5</span>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href=""><i class="fa fa-circle-o"></i> Themes</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> Customize</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> Widgets</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> Menus</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> Editor</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-users" aria-hidden="true"></i> <span>Users</span>
                    <span class="pull-right-container">
                        <span class="label label-primary pull-right">3</span>
                    </span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("AllUsers", "Users")"><i class="fa fa-users" aria-hidden="true"></i> All Users</a></li>
                    <li><a href="@Url.Action("AddNew", "Users")"><i class="fa fa-user-plus" aria-hidden="true"></i> Add New</a></li>
                    <li><a href="@Url.Action("YourProfile", "Users")"><i class="fa fa-user" aria-hidden="true"></i> Your Profile</a></li>
                </ul>
            </li>
        </ul>
    </section>
</aside>
